* {
  margin: 3px 3px 3px 3px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0px 05px;
  align-items: center;
  background-color: #f4f7fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0px 3px 3px 0px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.logo a {
  text-decoration: none;
  color: rgb(219, 107, 107);
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  gap: 20px;
  text-decoration: none;
}

.menu a {
  text-decoration: none;
  color: rgb(24, 102, 102);
}

*/ .menu a:hover {
  color: rgb(219, 107, 107);
}

.menu1 {
  color: rgb(185, 66, 19);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.menu2 {
  color: rgb(26, 230, 179);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.menu3 {
  color: rgb(10, 31, 228);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.btn,
.btn1 {
  padding: 08px 15px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
}

.btn:hover {
  background-color: rgb(247, 116, 116);
  color: rgb(25, 9, 241);
}

.slider {
  text-align: center;
  align-items: center;
  color: #fc5c00;
  font-size: large;
  padding: 10px;
}

.options {
  visibility: hidden;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
    text-align: center;
  }
  .hero {
    display: flex;
    flex-wrap: wrap-reverse;
    text-align: right;
    align-items: right;
    text-wrap: wrap;
    background-color: white;
    margin: 0px 3px 3px 0px;
  }

  .h2k,
  .btn1 {
    display: none;
  }

  .story1 {
    display: none;
  }

  .curriculum {
    align-items: center;
    width: 100%;
    text-align: center;
  }
  .footer {
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    padding: 10px;
  }

  .options {
    visibility: visible;
    align-items: right;
  }
  .navbar {
    box-shadow: 0 2px 4px rgb(235, 16, 16);
  }
}

/* Hero section */

.kinder {
  background-image: url(assets/cool-background.png);
}

.sp1 {
  color: rgb(240, 92, 38);
}

.sp2 {
  color: rgb(15, 121, 11);
}

.hero {
  display: flex;
  justify-content: space-around;
  background-color: white;
  margin: 0px 3px 3px 0px;
  align-items: center;
  text-align: left;
}

.hero.image {
  height: 100px;
  width: 100px;
}

/* curriculum */

.curriculum {
  background-image: url(assets/bg.png);
  align-items: center;
}

.curriculum2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.kinder {
  background-image: url(assets/cool-background\(1\).png);
  margin: 10px 0 10px 0;
  padding: 5px;
  border-radius: 8px;
}
.elementary {
  background-image: url(assets/cool-background\(2\).png);
  margin: 10px 0 10px 0;
  padding: 5px;
  border-radius: 8px;
}

.middleClass {
  background-image: url(assets/cool-background\(3\).png);
  padding: 25px;
  margin: 10px 0 10px 0;
  padding: 5px;
  border-radius: 8px;
}

.btn3 {
  padding: 08px 15px;
  background-color: #0e0f0f;
  color: rgb(233, 82, 82);
  border-radius: 5px;
}

.btn3:hover {
  background-color: rgb(247, 116, 116);
  color: rgb(25, 9, 241);
}

.btn4 {
  padding: 08px 15px;
  background-color: #99ec14;
  color: rgb(27, 27, 27);
  border-radius: 5px;
}
.btn4:hover {
  background-color: rgb(247, 116, 116);
  color: rgb(25, 9, 241);
}

.btn5 {
  padding: 08px 15px;
  background-color: #21eeee;
  color: rgb(14, 13, 13);
  border-radius: 5px;
}
.btn5:hover {
  background-color: rgb(247, 116, 116);
  color: rgb(25, 9, 241);
}

.btn6 {
  padding: 08px 15px;
  background-color: #1d2222;
  color: rgb(235, 37, 37);
  border-radius: 5px;
  align-items: center;
}
.btn6:hover {
  background-color: rgb(247, 116, 116);
  color: rgb(25, 9, 241);
}

.btn6d {
  text-align: center;
  margin-bottom: 50px;
}

/* story section */

.glory {
  align-items: center;
  margin-top: 50px;
}

.story {
  display: flex;
  justify-content: space-between;
  grid-column: auto;
}

.story1 {
}

.story2 {
  display: flex;
  justify-content: space-around;
  margin: 5px;
  padding: 5px 3px;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 5px;
}

/* Footer section */

.footlogo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer {
  background-color: #aac6e4;
  text-align: center;
  flex-wrap: wrap;
}

.foot {
  display: flex;
  justify-content: space-around;
  background-color: #aac6e4;
  text-align: center;
  margin-top: 10px;
}
